#This Apache config file was created by Duplicator Installer on 2021-02-17 18:17:51.
#The original can be found in archived file with the name .htaccess__[HASH]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /bykassem.com/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /bykassem.com/index.php [L]
</IfModule>
# END WordPress